@model CarShopping.Web.Models.CarModel

@{
    ViewData["Title"] = "Atualizar Veículo";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }

        .back-to-list {
            margin-top: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }

        .btn-success {
            background-color: #28a745;
            border-color: #28a745;
        }

            .btn-success:hover {
                background-color: #218838;
                border-color: #1e7e34;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Atualizar Veículo</h1>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <form asp-action="UpdateCar">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" hidden />
                    <div class="form-group">
                        <label asp-for="Brand" class="control-label">Marca:</label>
                        <input asp-for="Brand" class="form-control" />
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Modelo:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Descrição:</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mileage" class="control-label">Quilometragem:</label>
                        <input asp-for="Mileage" class="form-control" />
                        <span asp-validation-for="Mileage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FabricationDate" class="control-label">Ano do Carro:</label>
                        <input asp-for="FabricationDate" type="date" class="form-control" />
                        <span asp-validation-for="FabricationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SellingValue" class="control-label">Valor de Venda:</label>
                        <input asp-for="SellingValue" class="form-control" />
                        <span asp-validation-for="SellingValue" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" asp-for="IsSold" />
                        <label class="form-check-label" asp-for="IsSold">Já foi vendido?</label>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" asp-for="IsAvaliable" />
                        <label class="form-check-label" asp-for="IsAvaliable">Está disponível?</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                        <a asp-action="CarIndex" class="btn btn-success">
                            <i class="fas fa-arrow-left"></i> Voltar para a Lista
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
